@import 'colors';

.button-transparent {
  border: 2px solid $purple;
  border-radius: 4px;

  cursor: pointer;

  height: 35px;
  width: 100px;

  background: transparent;
  color: $white;

  font-size: 14px;

  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    width: 0;
    height: 100%;

    position: absolute;
    z-index: -1;
    top: 0;
    left: -5px;

    transform: skewX(-15deg);
    transition: .7s ease;
  }

  &:hover {
    &::before {
      width: calc(100% + 10px);
      background: $purple;
    }
  }
}

