$gray: #1e1e1e;
$gray-dark: #252525;
$gray-light: #49484E;

$purple: #4831D4;
$purple-light: #624AF4;
$purple-dark: #351EC0;

$green: #CCF381;
$green-light: #E3FFAE;
$green-dark: #BFE273;

$white: #EDF1F7;
$white-light: #F4F7FB;
$white-dark: #E5E9EF;