@import "partials/colors";
@import "partials/buttons";
@import "partials/titles";
@import "partials/paragraph";
@import "partials/responsive";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $gray;
  // height: 100vh;
  width: 85%;
  margin: 0 auto;

  @include responsive(750px) {
    width: 95%;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 24px;

  @include responsive(750px) {
      display: none;
      //add hambuerguer menu
  }

  .nav-links {
    width: 360px;
    height: 35px;
    display: flex;
    justify-content: space-between;
  }

  .nav-social {
    width: 100px;
    display: flex;
    justify-content: space-between;

    img {
      height: 35px;
      cursor: pointer;
    }
  }
}

.container {
  margin-top: 55px;
  height: 85%;
  display: flex;
  align-items: center;
 
  @include responsive(960px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.content {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include responsive(960px) {
    width: 100%;
  }

  .content-title {
    height: 220px;
    max-width: 570px;
    width: 100%;
    
    background: $purple;
    border-radius: 16px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    @include responsive(960px) {
      margin-top: 28px;
    }
  }

  .title {
    font-weight: bold;
    font-size: 64px;
    letter-spacing: 1.5px;

    @include responsive(1080px) {
      font-size: 48px;
    }

    @include responsive(960px) {
      font-size: 64px;
    }


    @include responsive(650px) {
      font-size: 48px;
    }

    @include responsive(400px) {
      font-size: 40px;
    }
  }

  .subtitle {
    margin-top: -14px;

    font-weight: 200;
    font-size: 38px;
    letter-spacing: -2px;

    @include responsive(1080px) {
      font-size: 32px;
    }

    @include responsive(960px) {
      font-size: 38px;
    }

    @include responsive(650px) {
      font-size: 32px;
    }

    @include responsive(650px) {
      font-size: 28px;
    }
  }

  .content-about {
    margin-top: 32px;

    @include responsive(960px) {
      width: 90%;
    }
  }
  
  .content-cards {
    width: 60%;
    min-width: 280px;
    display: flex;
    justify-content: space-around;
    margin-top: 24px;

    img {
      height: 70px;
      margin-top: 28px;
    }
  }
  
}

.photo {
  border: 6px solid $purple;
  margin-left: 15%;
  height: fit-content;
  border-radius: 50%;

  @include responsive(960px) {
    margin: 0;
  }

  img {
    width: 300px;
    border-radius: 50%;

    @include responsive(650px) {
      width: 250px;
    }
  }
}



